<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="articles-styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="home_section">
      <div class="menu">
        <ul>
          <li><a href="/index.html">Översikt</a></li>
          <li><a href="/components/articles/articles.html">Artiklar</a></li>
        </ul>
      </div>

      <div class="overview_section">
        <h1>Artiklar</h1>
        <div class="article_info">
          <table>
            <tr>
              <th>Artikelnummer</th>
              <th>Benämning</th>
            </tr>
            <tr>
              <td>112350-010</td>
              <td>L-stativ 2350mm</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
