<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="articles-styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="home_section">
      <div class="menu">
        <ul>
          <li><a href="/index.html">ÖVERSIKT</a></li>
          <li><a href="/components/articles/articles.html">ARTIKLAR</a></li>
          <li><a href="">ORDRAR</a></li>
          <li><a href="">HISTORIK</a></li>
          <li><a href="">INSTÄLLNINGAR</a></li>
        </ul>
      </div>

      <div class="overview_section">
        <h1>Artiklar</h1>
      </div>
    </div>
  </body>
</html>
